@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;500;700");

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background-color: rgba(252, 181, 211, 0.89);
  line-height: normal;
  text-align: center;
}

h1{
  font-family: "Fascinate", system-ui;
  font-style: normal;
  color: white;
  font-weight: 300;
}

h2{
  color: white;
  font-weight: 200;
}

p{
  color: rgb(249, 243, 164);
  font-weight: 200;
}

button{
  color: rgb(130, 250, 250);
  background-color: rgb(60, 1, 60);
}

button.hover{
  background-color: rgb(0, 0, 0);
}

.img-circle {
  border-radius: 50%;
}

 div {
  background: rgb(214, 12, 79);
  padding: 30px;
  border: 5px rgba(96, 4, 36, 0.7);
  margin: 20px;
  border-radius: 10px;
  align-items: center;
  box-shadow: 3px 3px 5px rgba(96, 4, 36, 0.4);
 }

 .list-inline > ul {
  display: inline-block;
  padding: 0px 20px;
  align-items: center;
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
